.speech-bubble {
	position: relative;
	background: #fafafa;
  border-radius: .4em;
  padding: 20px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 27px solid transparent;
	border-top-color: #fafafa;
	border-bottom: 0;
	margin-left: -27px;
	margin-bottom: -27px;
}