@media (min-width: 1200px){
    .view {
        height: 75vh;
    }
    .bg-cta {
        background: #eaf2f5;
    }
    #destaque {
        padding: 6rem 4rem 6rem 2rem;
    }
}

@media (max-width: 1199px){
    .view {
        height: 60vh;
    }
    .bg-cta {
        background: #eaf2f5;
    }
    #destaque {
        padding: 5rem 1.5rem;
    }
    #destaque h1 { text-align: center; font-size: 2rem}
}


/** IPAD */
@media(max-width: 991px) {
    .view {
        height: 45vh;
    }
    .bg-cta {
        background: #eaf2f5;
        height: 100px;
    }
    #aempresa > li {
        padding: .15rem 1rem;
    }
    #destaque {
        padding: 3rem 5rem;
    }
    #destaque h1 { text-align: center;}
}

/** Mobile */
@media(max-width: 767px) {
    .view {
        height: 100vh;
    }
    .sp { padding: 0rem 0; }
    .bg-cta {
        background: #eaf2f5;
        height: 100px;
    }
    #aempresa > li {
        padding: .15rem 1rem;
    }
    #destaque { 
        padding: 2rem 1rem;
    }
    #destaque > h1{
        font-size: 1.5rem !important;
    }
    #destaque > p { font-size: .9rem }
}