@font-face {
	font-family: 'HeronSans-Bold';
	src: url('../fonts/HeronSans-Bold.eot') format('eot'), url('../fonts/HeronSans-Bold.otf') format('woff'), url('../fonts/HeronSans-Bold.ttf') format('woff'), url('../fonts/HeronSans-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HeronSans-Light';
	src: url('../fonts/HeronSans-Light.eot'), url('../fonts/HeronSans-Light.otf') format('woff'), url('../fonts/HeronSans-Light.ttf') format('woff'), url('../fonts/HeronSans-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: 'HeronSans-Light';
}

/** Text y font*/
.text-servitech {color: #026481; }
.text-icon { color: #FDB813 }
.text-icon2 { color: #670054 }
.text-shadow { text-shadow: 1px 1px 1px #5B5B5B;}


/** Bold Fonte */
.bold { font-weight: bold; }
.b-7 { font-weight: 700; }
.b-6 { font-weight: 600; }
.b-5 { font-weight: 500; }
.b-4 { font-weight: 400; }


/** Tamanho do fonte */
.f-07 { font-size: .7rem; }
.f-08 { font-size: .8rem; }
.f-09 { font-size: .9rem; }
.f-12 { font-size: 1.2rem; }
.f-14 { font-size: 1.4rem; }
.f-15 { font-size: 1.5rem; }
.f-20 { font-size: 2rem; }
.f-25 { font-size: 2.5rem; }

/** title*/
.title {
  overflow: hidden;
  text-align: center;
  color: #026481;
  font-weight: bold;
}

.title:before,
.title:after {
  background-color: #026481;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.title:before {
  right: 1.5rem;
  margin-left: -50%;
}

.title:after {
  left: 1.5rem;
  margin-right: -50%;
}

.bg-servitech { background: #026481; }
.bg-servitech-2 { background: #F9FBFA;}
.bg-servitech-3 { background: #383838; }
.badge-servitech {
    color: #fff;
    background-color: #026481;
}

.btn-servitech {
    color: #fff !important;
    background-color: #026481 !important;
    border-color: #026481 !important;
}

.btn-servitech:hover {
    background-color: #01475c !important;
    border-color: #01475c !important;
}

.btn-whatsapp {
  background: #00AF0D !important;
  border-color: #00AF0D !important;
  color: #fff;
}

.btn-whatsapp:hover {
  background:   rgba(0, 175, 12, 0.671) !important;
  border-color: rgba(0, 175, 12, 0.671) !important;
}

/** Header */
.view {
    background: url(../images/head-bg.jpg) no-repeat center center;
    background-size: cover;
    height: 78vh;
}

.sp { padding: 5rem 0; }

/** Header */
#head-text > .list-inline-item:not(:last-child) {
  margin-right: 1rem;
}

#head-text > li > a { color: #fff; }
#nav-menu .nav li > a { color: #fff !important; }
#nav-menu .nav li > a:hover { color: #FFD800 !important; }
#nav-menu .nav li.active > a {
  border-top: 2px solid #FFD800;
  color: #FFD800 !important; 
}

/** CTA */
.bg-cta {
  background: url(../images/cta1.jpg) no-repeat center center;
  background-size: cover;
  height: 142px;
}

#cta > li {
  background: none;
  padding: .30rem 1rem;
  border: 0px solid rgba(0,0,0,.125);
}

#contact > li {
  background: none;
  padding: .65rem 1rem;
  border: 0px solid rgba(0,0,0,.125);
}

/** A-Empresa */
#aempresa > li {
    padding: .45rem 1rem;
    border: 0px solid rgba(0,0,0,.125);
}

/** Contact */
.rounded-20 {
  border-radius: 20px;
}
.contato{
  background: #EFEFEF !important;
  color: #026481 !important;
  border-radius: 10px !important;
  border: 0px !important;
}

/** Footer */
#footer a { color: #fff; }
#footer a:hover { color: #bdbdbd; text-decoration: none; }

#detalhes .list-inline {
  white-space:nowrap;
  overflow-x:auto;
}


/** ----------------- Produtos ---*/
#produtos {
  margin-top: 8rem;
}

.sub-italic {
  text-align: center;
  font-style: italic;
  color: #026481;
}









@media (min-width: 768px) {

  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
      display: block;
  }
  
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
      transition: none;
  }
  
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  
  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -25%;
      z-index: -1;
      display: block;
      visibility: visible;
  }
  
  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
  }
  
  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible;
  }
  
  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
  }

}

/* Bootstrap Lightbox using Modal */

#profile-grid { overflow: auto; white-space: normal; } 
#profile-grid .profile { padding-bottom: 40px; }
#profile-grid .panel { padding: 0 }
#profile-grid .panel-body { padding: 15px }
#profile-grid .profile-name { font-weight: bold; }
#profile-grid .thumbnail {margin-bottom:6px;}
#profile-grid .panel-thumbnail { overflow: hidden; }
#profile-grid .img-rounded { border-radius: 4px 4px 0 0;}

